@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Proxima Nova 2", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 150px;
    font-weight: 5;
    z-index: 1;
}
img {
    width: 25%;
    height: 25%;
}

#cover {
    text-align: center;
    font-family: "Proxima Nova 2", sans-serif;
    background-image: url("https://cdn.discordapp.com/attachments/1067966820096684032/1070542770193846292/city-1024x576.png");
    height: 100%;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    text-align: center;
    padding-top: 27vh;
    font-weight: 5;
}