@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.layer{
    float: top;
    display: block;
    height: 50vh;
    background-color: rgb(61, 61, 61);
    animation: fadeIn 3s;
}

.layer h1{
    float: right;
    font-size: 100px;
    margin-right: 5vw;
}