#nav{
    width: 100%;
    padding-top: 1vh;
    text-align: center;
    transition: 0.5s;
}

#nav a{
    color: rgb(109, 109, 109);
    text-decoration: none;
    transition: 0.5s;
}

#nav a:hover{
    color: white;
}
