@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

html {
    background-color: #1a1a1a;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

head {
    margin: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

@keyframes fadeOutPart {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  
}

.nav {
    height: 10%;
    width: 100%;
    overflow: hi;
}


.introContainer {
  width: 100%;
  border: 1px solid blue;
  height: 25vh;
}


.introImage {
    width: 25%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid red;
    float: left;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}


.introImage:hover {
    opacity: 0.5;
}

.featuredArticles {
    width: 25%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid green;
    float: right;
    text-align: center;
    color: white;

}

.introText {
    color: white;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid yellow;
    border-radius: 5px;
    height: 100%;

    
}



.banner {
    background-color: #c41212;
    color: white;
    font-family: "Proxima Nova", sans-serif;
    background-repeat: no-repeat;
}

.dropbtn {
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #212121;
    border: 1px solid #333333;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #212121;}

  .dropbtn2 {
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

    .dropdown2 {
        position: relative;
        display: inline-block;
    }

    .dropdown-content2 {
        display: none;
        position: absolute;
        background-color: #212121;
        border: 1px solid #333333;
        border-radius: 5px;
        min-width: 160px;
        z-index: 1;
        color: white;
    }

    .dropdown-content2 a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content2 a:hover {background-color: #ddd;}

    .dropdown2:hover .dropdown-content2 {display: block;}

    .dropdown2:hover .dropbtn2 {background-color: #212121;}

