@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.navigation {
    height: 45px;
    width: 100%;
}

.introBox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(0%);
    font-size: 30px;
    border: 1px solid yellow;
}
.introText {
    width: 50%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(0%);
    font-size: 20px;
    text-align: left;
    border: 1px solid yellow;
}

.featuredBox {
    width: 100%;
    float: left;
    height: auto;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(0%);
    font-size: 15px;
    border: 1px solid yellow;
}
.articleBox {
    clear: both;
    width: 100%;
    float: left;
    height: auto;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(0%);
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid yellow;
}

.leftBoxes {
    clear: both;
    width: 25%;
    float: right;
    height: auto;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(0%);
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid rgb(13, 202, 48);
}
.newsBox {
    clear: both;
    width: 100%;
    float: left;
    height: auto;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(0%);
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid yellow;
}

#introSVG {
    width: 100%;
  height: auto;

}

.introIcon {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 55, 255);
  display: flex;
  align-items: center;
  justify-content: center;

}

.introIconTextBox {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    text-align: center;
    right: 0;
    margin: auto;
    transform: translateY(0%);
    font-size: 30px;
    border: 1px solid rgb(0, 55, 255);
}

.fullIntroIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    clear: both;
    float: left;
    width: 25%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(0%);
    font-size: 15px;
    border: 1px solid rgb(0, 55, 255);
}
#newsTitle {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#featuredTitle {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#articleTitle {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

ul li {
    list-style-type: disc;
    color: white;
    font-size: 20px;
}
html {
    background-color: rgba(26,26,26,255);
    font-family: 'Roboto Mono', sans-serif;
    overflow-x: hidden;
}

html black {
    color: #000000;
}

html dark_blue {
    color: #0000AA;
}

html dark_green {
    color: #00AA00;
}

html dark_aqua {
    color: #00AAAA;
}

html dark_red {
    color: #AA0000;
}

html dark_purple {
    color: #AA00AA;
}

html gold {
    color: #FFAA00;
}

html gray {
    color: #AAAAAA;
}

html dark_gray {
    color: #555555;
}

html blue {
    color: #5555FF;
}

html green {
    color: #55FF55;
}

html aqua {
    color: #55FFFF;
}

html red {
    color: #FF5555;
}

html light_purple {
    color: #FF55FF;
}

html yellow {
    color: #FFFF55;
}

html white {
    color: #FFFFFF;
}